/* Variables colores normales */
/* Cadet blue */
/* Brick red */
/* Yellow orange color wheel */
/* Yellow pantone */
/* Pewter Blue */
/* Citron */
/* Razzmic Berry */
/* Shiny Shamrock */
/* Variables Submenus */
/* Charcoal */
/* Wine */
/* Liver Dogs */
/* Old Gold */
/* Light Slate Gray */
/* Avocado */
/* Byzantium */
/* Amazon */
/* Variables Submenus2 - Para Accordion */
/* Slate Gray */
/* Red Violet Color Wheel */
/* Yellow Orange */
/* Safety Yellow */
/* Beau Blue */
/* Bitter Lemon */
/* Opera Mauve */
/* Eton Blue */
/* Variables Opciones de Submenus2 */
/* Deep Space Sparkle */
/* VER SI HAY QUE CAMBIAR */
/* Bittersweet Shimmer */
/* Orange Peel */
/* VER SI HAY QUE CAMBIAR */
/* Yellow Munsell */
/* VER SI HAY QUE CAMBIAR */
/* Cadet Blue Crayola */
/* VER SI HAY QUE CAMBIAR */
/* Acid Green */
/* VER SI HAY QUE CAMBIAR */
/* Pearly Purple */
/* VER SI HAY QUE CAMBIAR */
/* Ocean Green */
/* VER SI HAY QUE CAMBIAR */
/* Hover Accordion */
/* Candy Pink */
.navbar {
  background-color: #202020;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px; }

.navbar .collapse .navbar-nav .nav-item a {
  color: #fff; }

.dropdown-menu {
  padding: 0;
  margin: 0;
  background-color: #202020; }

.dropdown-item:hover {
  background-color: #3366cc; }

.dropdown-menu .dropdown-item {
  color: #fff; }

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none; }
  .navbar .nav-item:hover .nav-link {
    color: #fff; }
  .navbar .nav-item:hover .dropdown-menu {
    display: block; }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0; } }

.carousel-inner img {
  margin: auto; }

body {
  background-color: #181818;
  color: #fff; }

/* Cards de Index */
.card-body {
  padding: 0; }

/* Accordion de pag CBC */
.header__azul {
  background-color: #5e747f; }
  .header__azul h5 button {
    color: #fff; }

.card {
  color: #181818; }

.header__cyan {
  background-color: #90a9b7; }
  .header__cyan h5 button {
    color: #181818; }

.header__amarillo {
  background-color: #fde12d; }
  .header__amarillo h5 button {
    color: #181818; }

.header__violeta {
  background-color: #9c528b; }
  .header__violeta h5 button {
    color: #fff; }

.header__vverde {
  background-color: #49a078; }
  .header__vverde h5 button {
    color: #fff; }

.header__naranja {
  background-color: #ff9505; }
  .header__naranja h5 button {
    color: #181818; }

.header__verde {
  background-color: #8ea604; }
  .header__verde h5 button {
    color: #fff; }

.header__rojo {
  background-color: #c14953; }
  .header__rojo h5 button {
    color: #fff; }

/* fin accordion */
.caja-carreras {
  background-color: #424242;
  border-radius: 2px; }

/* Submenus Niveles*/
.submenu__text {
  background-color: #6b8b9e; }
  .submenu__text .nav-item:hover {
    background-color: #a9bcc7; }
  .submenu__text .nav-link {
    color: black; }

.submenu__paisa {
  background-color: #3a7e5e; }
  .submenu__paisa .nav-item:hover {
    background-color: #65b892; }
  .submenu__paisa .nav-link {
    color: #fff; }

.submenu__indus {
  background-color: #657604; }
  .submenu__indus .nav-item:hover {
    background-color: #a8c507; }
  .submenu__indus .nav-link {
    color: #fff; }

.submenu__graf {
  background-color: #783f6b; }
  .submenu__graf .nav-item:hover {
    background-color: #b26ca3; }
  .submenu__graf .nav-link {
    color: #fff; }

.submenu__img {
  background-color: #caaf02; }
  .submenu__img .nav-item:hover {
    background-color: #dec102; }
  .submenu__img .nav-link {
    color: black; }

.submenu__indu {
  background-color: #b86b00; }
  .submenu__indu .nav-item:hover {
    background-color: #ffa21f; }
  .submenu__indu .nav-link {
    color: #fff; }

.submenu__cbc {
  background-color: #344146; }
  .submenu__cbc .nav-item:hover {
    background-color: #45575e; }
  .submenu__cbc .nav-link {
    color: #fff; }

/* Buttons del Accordion */
.btn-link:hover,
.btn-link {
  color: #fff; }

/* Fin Buttons del Accordion */
/* Submenu Catedras */
/* Arquitectura */
.submenu__arq {
  background-color: #6a242a; }
  .submenu__arq .nav-item:hover {
    background-color: #c14951; }
  .submenu__arq .nav-link {
    color: #fff; }

.submenu__arq--listado {
  background-color: #892f36; }

.submenu__arq--catedras {
  background-color: #c14951; }
  .submenu__arq--catedras .nav-link {
    color: #fff; }
  .submenu__arq--catedras .nav-item:hover {
    background-color: #d0767c; }

/* Fin Arquitectura */
.site-footer {
  background-color: #202020;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #fff; }

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5; }

.site-footer hr.small {
  margin: 20px 0; }

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px; }

.site-footer a {
  color: #737373; }

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none; }

.footer-links {
  padding-left: 0;
  list-style: none; }

.footer-links li {
  display: block; }

.footer-links a {
  color: #737373; }

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none; }

.footer-links.inline li {
  display: inline-block; }

.site-footer .social-icons {
  text-align: right; }

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d; }

.copyright-text {
  margin: 0; }

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0; }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center; } }

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.social-icons li {
  display: inline-block;
  margin-bottom: 4px; }

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px; }

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe; }

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px; }

.social-icons a.facebook:hover {
  background-color: #3b5998; }

.social-icons a.twitter:hover {
  background-color: #00aced; }

.social-icons a.linkedin:hover {
  background-color: #007bb6; }

.social-icons a.dribbble:hover {
  background-color: #ea4c89; }

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600; } }

/* .btn-linki:hover,
.btn-linki {
  color: black;
} */
