.carousel-inner {
  img {
    margin: auto;
  }
}

body {
  background-color: #181818;
  color: #fff;
}
/* Cards de Index */
.card-body {
  padding: 0;
}
/* Accordion de pag CBC */
.header__azul {
  background-color: $bblue;
  h5 {
    button {
      color: #fff;
    }
  }
}
.card {
  color: #181818;
}
.header__cyan {
  background-color: $ccyan;
  h5 {
    button {
      color: #181818;
    }
  }
}
.header__amarillo {
  background-color: $yyellow;
  h5 {
    button {
      color: #181818;
    }
  }
}

.header__violeta {
  background-color: $vviolet;
  h5 {
    button {
      color: #fff;
    }
  }
}
.header__vverde {
  background-color: $ggrreen;
  h5 {
    button {
      color: #fff;
    }
  }
}

.header__verde {
  background-color: $ggreen;
  h5 {
    button {
      color: #fff;
    }
  }
}

/* fin accordion */
.caja-carreras {
  background-color: #424242;
  border-radius: 2px;
}

/* Submenus Niveles*/
.submenu__text {
  background-color: $s1cyan;

  .nav-item:hover {
    background-color: $oscyan;
  }
  .nav-link {
    color: black;
  }
}

.submenu__paisa {
  background-color: $su1green;

  .nav-item:hover {
    background-color: $osugreen;
  }
  .nav-link {
    color: #fff;
  }
}
.submenu__indus {
  background-color: $s1green;

  .nav-item:hover {
    background-color: $osgreen;
  }
  .nav-link {
    color: #fff;
  }
}
.submenu__graf {
  background-color: $s1violet;

  .nav-item:hover {
    background-color: $osviolet;
  }
  .nav-link {
    color: #fff;
  }
}
.submenu__img {
  background-color: $s1yellow;

  .nav-item:hover {
    background-color: $osyellow;
  }
  .nav-link {
    color: black;
  }
}

.submenu__cbc {
  background-color: $s1blue;

  .nav-item:hover {
    background-color: $osblue;
  }
  .nav-link {
    color: #fff;
  }
}

/* Buttons del Accordion */
.btn-link:hover,
.btn-link {
  color: #fff;
}
/* Fin Buttons del Accordion */

/* Submenu Catedras */

/* Inicio de Arquitectura */
.submenu__arq {
  background-color: $s1red;

  .nav-item:hover {
    background-color: $osred;
  }
  .nav-link {
    color: #fff;
  }
}

.header__rojo {
  background-color: $rred;
  h5 {
    button {
      color: #fff;
    }
  }
}

.submenu__arq--listado {
  background-color: $s2red;
}

.submenu__arq--catedras {
  background-color: $osred;
  .nav-link {
    color: #fff;
  }
  .nav-item:hover {
    background-color: $hred;
  }
}
/* Fin Arquitectura */

/* Inicio Diseño de Indumentaria */
/* Color */
.header__naranja {
  background-color: $oorange;
  h5 {
    button {
      color: #181818;
    }
  }
}

.submenu__indu {
  background-color: $s1orange;

  .nav-item:hover {
    background-color: $osorange;
  }
  .nav-link {
    color: #fff;
  }
}

.submenu__indu--listado {
  background-color: $s2orange;
}

.submenu__indu--catedras {
  background-color: $osorange;
  .nav-link {
    color: #fff;
  }
  .nav-item:hover {
    background-color: $horange;
  }
}
/* Fin de Diseño de Indumentaria */
