/* Variables colores normales */
$bblue: #5e747f; /* Cadet blue */
$rred: #c14953; /* Brick red */
$oorange: #ff9505; /* Yellow orange color wheel */
$yyellow: #fde12d; /* Yellow pantone */
$ccyan: #90a9b7; /* Pewter Blue */
$ggreen: #8ea604; /* Citron */
$vviolet: #9c528b; /* Razzmic Berry */
$ggrreen: #49a078; /* Shiny Shamrock */

/* Variables Submenus */
$s1blue: #344146; /* Charcoal */
$s1red: #6a242a; /* Wine */
$s1orange: #a35f00; /* Golden Brown */
$s1yellow: #a28c02; /* Gold */
$s1cyan: #6b8b9e; /* Light Slate Gray */
$s1green: #657604; /* Avocado */
$s1violet: #783f6b; /* Byzantium */
$su1green: #3a7e5e; /* Amazon */

/* Variables Submenus2 - Para Accordion */
$s2blue: #68838d; /* Slate Gray */
$s2red: #892f36; /* Red Violet Color Wheel */
$s2orange: #cc7700; /* Ochre */
$s2yellow: #caaf02; /* Old Gold */
$s2cyan: #b5c5cf; /* Beau Blue */
$s2green: #b9d908; /* Bitter Lemon */
$s2violet: #b979ab; /* Opera Mauve */
$su2green: #81c5a7; /* Eton Blue */

/* Variables Opciones de Submenus2 */
$osblue: #45575e; /* Deep Space Sparkle */ /* VER SI HAY QUE CAMBIAR */
$osred: #c14951; /* Bittersweet Shimmer */
$osorange: #ffa21f; /* Orange Peel */
$osyellow: #f2d202; /* Safety Yellow */
$oscyan: #a9bcc7; /* Cadet Blue Crayola */ /* VER SI HAY QUE CAMBIAR */
$osgreen: #a8c507; /* Acid Green */ /* VER SI HAY QUE CAMBIAR */
$osviolet: #b26ca3; /* Pearly Purple */ /* VER SI HAY QUE CAMBIAR */
$osugreen: #65b892; /* Ocean Green */ /* VER SI HAY QUE CAMBIAR */

/* Hover Accordion */
$hblue: #fff;
$hred: #d0767c; /* Candy Pink */
$horange: #ffbb5c; /* Yellow Orange */
$hyellow: #feeb72; /* Corn */
$hcyan: #fff;
$hgreen: #fff;
$hviolet: #fff;
$hugreen: #fff;
